body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.bold {
  font-weight: 800;
}

.app-wrapper {
  max-width: 1500px;
  margin: 0 auto;
}
.page-wrapper {
  margin-top: 2em;
}

.add-button {
  margin-bottom: 1em;
}

.sale-item-form-row {
  margin-bottom: 15px;
  display: flex;
  justify-content: space-evenly;
}
.sale-item-form-row label {
  flex-grow: 1;
  flex-basis: 0;
  padding-left: 10px;
}
.sale-item-form-row .x-container {
  flex-grow: 0;
  align-self: flex-end;
  padding: 5px;
}
.sale-item-form-row .first-label {
  flex-grow: 4;
  padding-left: 0;
}

.deduction-form-row {
  display: flex;
  justify-content: space-evenly;
}
.deduction-form-row .deduction-value-col {
  flex-grow: 2;
  padding-left: 10px;
}

.deduction-value-col.padding-left-22 {
  padding-left: 22px;
}